.cluster-marker {
  color: #fff;
  background: #BFBFBF;
  border-radius: 50%;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.target-cluster-marker {
    color: #fff;
    background: #f6b24b;
    border-radius: 50%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.site-marker {
    color: #fff;
    background: #BFBFBF;
    border-radius: 0%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target-site-marker {
    color: #fff;
    background: #f6b24b;
    border-radius: 0%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}



